.DS_Store
scripts_playground/.DS_Store
.idea/
__pycache__/
scripts_playground/__pycache__/
.ipynb_checkpoints/
kili.egg-info
dist
build
*.weights
*.pt
*/runs/
*.pyc

# mkdocs documentation
/site

# vscode
launch.json

# testing
.coverage
cov.xml
recipes/img/frame_dicom_data_asset-1.png
recipes/img/frame_dicom_data_asset-2.png
recipes/img/frame_dicom_data_asset-3.png
