repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key
  - repo: https://github.com/PyCQA/docformatter
    rev: v1.6.2
    hooks:
      - id: docformatter
        args: [--in-place, --wrap-summaries=0, --wrap-descriptions=0]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
      - id: black-jupyter
  - repo: https://github.com/pycqa/isort
    rev: 5.11.5
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear>=20.0.0
          - flake8-unused-arguments
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/srstevenson/nb-clean
    rev: 2.4.0
    hooks:
      - id: nb-clean
        args:
          - --preserve-cell-outputs
          - --preserve-cell-metadata
          - tags
          - --
  - repo: local
    hooks:
      - id: clean-notebook-metadata
        name: Clean notebook metadata
        language: python
        entry: jupyter nbconvert --ClearMetadataPreprocessor.enabled=True --ClearMetadataPreprocessor.preserve_cell_metadata_mask tags --inplace
        files: .*\.ipynb$
        stages: [commit, merge-commit]
        always_run: false
        pass_filenames: true
        additional_dependencies: [nbconvert]
      - id: notebook-markdown-tutorials
        name: Checks for notebook and markdown tutorials
        language: python
        entry: python -m docs.utils notebook_tutorials_commit_hook
        files: recipes\/.*\.ipynb$|docs\/sdk\/tutorials\/.*\.md$
        stages: [commit, merge-commit]
        always_run: false
        pass_filenames: true
        require_serial: true
        additional_dependencies: [click, nbconvert]
