language: python
services:
  - docker
env:
  global:
    - KILI_API_ENDPOINT=https://staging.cloud.kili-technology.com/api/label/graphql
    - secure: "iUAX9lUngEc4nQ43AXVTWWv6OyLXomUhNrhDg6vSzF6Lt0tE3DthGpawW+b7ezRiMAMBBv2aH8/eEvhOFCpWXlmUgNjCR5g5CqMU8XgOhuk9jt/jnK9KLg873T2aQePL91+cWKihh34HcqISDiCTtBouE2cIIaprMLcTOQgngEzZNjskTEMVVRxHl4QnPo2dx4yq0Jc9Ufj+LQxeun3HKnHh3KZo7zA1kU33Wsd0GBGpJo7mgydh/LoEhYhhV0jMcf6V/UFWuuKAgRHD3MSsOiUaHJHxrRwLFYlBtHbMtG1dh7PVU7diFQVvqj5NdFpfOkzV5CWQAK7ce4f4UMyBhaJ1PAP1H5sZT29f4ZNXNSos9+vyd7/LP4YB50rTr0Q7GytdfMxLELeZDHbRnA+Y1aEsewF+m9Ur6MidY+yKFKmFnAHkU65K5SvibsoStoLD8vjTFNF+KjvZ1bgT/fIhzwYY9Wqg1GY+zRMapgEvwsnoUvDghftjrBDhGF1l5SLqf/OBMCjpI30DZGGEEyRbE694bRpjBF2+ZjtytklNX9sZWZcHqT9j9HoeQQ1cyrLQMHo1gHjZDyz53hM6aWq7SWwrl5gS9Zvu3CVCemYas/vqqQ9r9KNZpCvVxOc9gvWeqTsvQhVW+HyU4EvLQ0t9TxEbqL5J3qsXlOsL+lgImdk="
    - secure: "HmY5WAcDF3NCqq/i3s4WdG2yb1oBt7ur1RbJz8pise8s4jaTC2GQKK8wDT9xpwaForarUMO7SwW0t3DIqsh3mZmkH43KvzHx9cdTs9bUvlyN3QgwQhlSQcTdnAGt7F8j2Moqgo4ISvg6aoBGrok7MzBFJ5tLmDhlwx44NJOwWw7hwpzVz795e8nALYu+CQrpCe5DjRfs5LSsujbtsGKQzCNxYPMuLtQH5/U/fdOFPsMHaUqFIP3PAYnRp/efU4RjDXuCH0fQjVfMWArm4XzigHLypbbknuZ9cJOOKi7H6SqQoAy/coKlYKNdZZfdJOs+LkdsCnUAgWjCzm46aTvbTsGn0ImtaUiTIUPUtR2yUHkHRK/Hw5SyEOyVSbtuZiQWwLs7xy9EBwZnb0XW4eUnAxdYchRR2jCjqo4Z2X1D0/AVypUyj49tj/wNI4hApXRygV59k6oa0tZpN/t9EphjmIq4Wh3E9r4z7fNsCPVs1epCJwp8kr3DLlD63DHOFIeQx5kbY8QbNFIrHFUeV4+3usT3y2Pf454UoBCd2p/UNsJonS6D3cn7T5d4Ziy2DIHX8UzT6HmqK+YY3fZSMpkcXcmlDwqmm1YvR8QUq0U5C2DYIKch8CvcRxvThJQo8j+qWhm/1xMg8OyKoAAjwHoHDyFxZ3TZ+S16helk+DcR+GQ="
jobs:
  include:
    # To debug a recipe by running it in a Docker locally as it is run in Travis, launch the following lines:
    #
    # DOCKER_IMAGE=...
    # KILI_USER_EMAIL=...
    # KILI_USER_PASSWORD=...
    # TRAVIS_BRANCH=...
    #
    # docker pull ${DOCKER_IMAGE}
    #
    # docker run \
    #   --env KILI_API_ENDPOINT=https://staging.cloud.kili-technology.com/api/label/graphql \
    #   --env KILI_USER_EMAIL=${KILI_USER_EMAIL} \
    #   --env KILI_USER_PASSWORD=${KILI_USER_PASSWORD} \
    #   --rm \
    #   -p 10000:8888 \
    #   ${DOCKER_IMAGE} /bin/sh -c "cd /root && \
    #     apt-get update && apt-get install -y gcc && \
    #     git clone --branch ${TRAVIS_BRANCH} https://github.com/kili-technology/kili-playground.git && \
    #     pip install ./kili-playground && \
    #     jupyter notebook --allow-root --ip=0.0.0.0 --port=8888"
    #
    # Then start https://localhost:10000/?token=TOKEN_OUTPUTED_IN_CONSOLE
    - &test-recipes
      stage: Test *.ipynb in recipes
      script:
        - docker pull ${DOCKER_IMAGE}
        - |
          docker run \
            --env KILI_API_ENDPOINT=${KILI_API_ENDPOINT} \
            --env KILI_USER_EMAIL=${KILI_USER_EMAIL} \
            --env KILI_USER_PASSWORD=${KILI_USER_PASSWORD} \
            ${DOCKER_IMAGE} /bin/sh -c "cd /root && \
              apt-get update && apt-get install -y gcc && \
              git clone --branch ${TRAVIS_BRANCH} https://github.com/kili-technology/kili-playground.git && \
              pip install ./kili-playground && \
              jupyter nbconvert \
                --to notebook \
                --ExecutePreprocessor.kernel_name=python3 \
                --ExecutePreprocessor.timeout=500 \
                --execute /root/kili-playground/${NOTEBOOK_PATH}"
      env:
        - DOCKER_IMAGE=continuumio/anaconda3:2020.02
        - NOTEBOOK_PATH=recipes/transfer_learning_with_yolo.ipynb
    - <<: *test-recipes
      env:
        - DOCKER_IMAGE=continuumio/anaconda3:2020.02
        - NOTEBOOK_PATH=recipes/import_predictions.ipynb
    - <<: *test-recipes
      env:
        - DOCKER_IMAGE=continuumio/anaconda3:2020.02
        - NOTEBOOK_PATH=recipes/create_project.ipynb
    - <<: *test-recipes
      env:
        - DOCKER_IMAGE=continuumio/anaconda3:2020.02
        - NOTEBOOK_PATH=recipes/medical_imaging.ipynb
    - <<: *test-recipes
      env:
        - DOCKER_IMAGE=continuumio/anaconda3:2020.02
        - NOTEBOOK_PATH=recipes/query_methods.ipynb
    # Declare other tests as follow:
    # - <<: *test-recipes
    #   env:
    #     - DOCKER_IMAGE=docker/image
    #     - NOTEBOOK_PATH=recipes/path/to.ipynb
