## Project information
site_name: Python SDK
site_description: Kili Python SDK
site_url: https://python-sdk-docs.kili-technology.com/

## Repository
repo_url: https://github.com/kili-technology/kili-python-sdk
repo_name: Kili Python SDK
edit_uri: '' #disables edit button

## Site Architecture
nav:
  - API Key: api_key.md
  - Asset: asset.md
  - Issue: issue.md
  - Label: label.md
  - Notification: notification.md
  - Organization: organization.md
  - Project: project.md
  - Project User: project_user.md
  - Project Version: project_version.md
  - User: user.md

## Configuration
plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          rendering:
            show_root_heading: false
            heading_level: 3
            show_source: true
            show_category_heading: false
            show_root_toc_entry: false
          selection:
            docstring_style: google
            filters:
              - '!^__' # exclude all members starting with __
            docstring_options:
              replace_admonitions: yes
      watch:
        - kili
  - mike:
      version_selector: true

markdown_extensions:
  - admonition
  - def_list
  - attr_list
  - md_in_html
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra:
  version:
    provider: mike
  analytics:
    provider: google
    property: G-HRVEXSEWL0

## Theme and Design
theme:
  name: 'material'
  palette:
    scheme: kili
  logo: assets/kili_logo.png
  favicon: assets/kili_favicon.ico
  language: en
  font:
    text: Archia
extra_css:
  - stylesheets/extra.css
