## Project information
site_name: Python SDK
site_description: Kili Python SDK
site_url: https://python-sdk-docs.kili-technology.com/

## Repository
repo_url: https://github.com/kili-technology/kili-python-sdk
repo_name: Kili Python SDK
edit_uri: "" #disables edit button

## Site Architecture
nav:
  - Python SDK:
      - Getting Started: index.md
      - Tutorials: tutorials.md
      - Reference:
          - API Key: sdk/api_key.md
          - Asset: sdk/asset.md
          - Cloud Storage: sdk/cloud_storage.md
          - Issue: sdk/issue.md
          - Label: sdk/label.md
          - Label Utils: sdk/label_utils.md
          - Notification: sdk/notification.md
          - Organization: sdk/organization.md
          - Plugins: sdk/plugins.md
          - Project: sdk/project.md
          - Project User: sdk/project_user.md
          - Project Version: sdk/project_version.md
          - User: sdk/user.md
  - Command Line Interface:
      - Getting Started: cli/index.md
      - Reference: cli/reference.md
  - Tutorials:
      - Getting Started: tutorials.md
      - Basic Project Setup: sdk/tutorials/basic_project_setup.md
      - Importing Assets:
          - Image Assets with Metadata: sdk/tutorials/importing_assets_and_labels.md
          - Video Assets: sdk/tutorials/importing_video_assets.md
      - Importing Labels:
          - Introduction: sdk/tutorials/importing_labels.md
          - OpenAI NER Pre-annotations: sdk/tutorials/ner_pre_annotations_openai.md
          - OCR Pre-annotations: sdk/tutorials/ocr_pre_annotations.md
          - Segmentation Pre-annotations: sdk/tutorials/pixel_level_masks.md
          - Inference Labels: sdk/tutorials/inference_labels.md
      - Managing Workflows: sdk/tutorials/set_up_workflows.md
      - Exporting Project Data:
          - Introduction: sdk/tutorials/export_a_kili_project.md
          - Visualizing segmentation masks: sdk/tutorials/medical_imaging.md
      - Setting Up Plugins:
          - Developing Plugins: sdk/tutorials/plugins_development.md
          - Plugin Example - Programmatic QA: sdk/tutorials/plugins_example.md
          - Plugins Library: sdk/tutorials/plugins_library.md
          - Webhooks: sdk/tutorials/webhooks_example.md

## Configuration
plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_root_heading: false
            heading_level: 3
            show_source: true
            show_category_heading: false
            show_root_toc_entry: false
            docstring_style: google
            filters:
              - "!^__" # exclude all members starting with __
            docstring_options:
              replace_admonitions: yes
  - mike:
      version_selector: true

watch:
  - src/kili

markdown_extensions:
  - admonition
  - def_list
  - mkdocs-click
  - attr_list
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

extra:
  version:
    provider: mike
  analytics:
    provider: google
    property: G-HRVEXSEWL0

## Theme and Design
theme:
  name: "material"
  palette:
    scheme: kili
  logo: assets/kili_logo.png
  favicon: assets/kili_favicon.ico
  language: en
  font:
    text: Archia
  features:
    - navigation.tabs

extra_css:
  - stylesheets/extra.css
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/katex.min.css

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/katex.min.js
  - extra_javascript/katex.js
