[tool.black]
line-length = 100
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
)/
'''
[tool.isort]
profile = "black"
py_version=37
known_first_party= ['kili']



[tool.pyright]
exclude = [
    "**/__pycache__",
    "recipes/datasets/plugins/plugin.py",
]

pythonVersion = "3.7"
typeCheckingMode = "basic"
