name: Pre-release - Bump version & Draft Release
on:
  workflow_dispatch:
    inputs:
      target_branch:
        description: >
          "This workflow will create a commit to bump version on a branch.
          Enter the target branch: main for Saas, or release/XX.Y for a LTS version: "
        required: true
        type: string
        default: "main"

jobs:
  create_bump_commit:
    runs-on: ubuntu-latest
    name: create bump commit PR
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.target_branch}}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install bump2version

      - name: Set git identity
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Create PR with the bump commit
        run: |
          git fetch --quiet

          curl https://raw.githubusercontent.com/kili-technology/kili-python-sdk/main/.github/scripts/utils.sh --output utils.sh
          source ./utils.sh   # to get the bump_version function

          # create bump commit
          new_version=$(bump_version commit patch)
          echo "New version (bump_version): $new_version"

          git push
        env:
          GH_TOKEN: ${{ github.token }} # needed for gh cli
