name: CI
on: [push]
jobs:
  pylint:
    runs-on: ubuntu-latest
    name: Pylint test
    strategy:
      matrix:
        python-version: ["3.7", "3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"
      - name: Analysing the code with pylint
        run: |
          pylint --rcfile=.pylintrc src/kili

  unittest:
    timeout-minutes: 10
    name: Unit tests
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            python-version: 3.7
          - os: windows-latest
            python-version: 3.7
          - os: ubuntu-latest
            python-version: 3.11
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: Unit tests
        run: pytest -ra -sv --color yes --code-highlight yes --durations=15 -vv --ignore tests/test_notebooks.py --ignore tests/e2e/ --cov=src/kili --cov-report=term-missing --cov-config=.coveragerc --cov-fail-under=75

  markdown-link-check:
    timeout-minutes: 2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: lycheeverse/lychee-action@0682ed617509a52424db04e7502c1dc3df28b469
        with:
          fail: true
          debug: false
          args: "--verbose --no-progress './**/*.md' --exclude '^(http|https)://cloud.kili-technology.com/api/label/v2/graphql$'"

  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools twine wheel

      - name: Build
        run: |
          python setup.py sdist bdist_wheel

      - name: Set proper test server (prod, preprod, staging)
        shell: bash
        run: |
          test_server_stdout=$(./.github/scripts/get_test_server.sh)
          if [[ "$test_server_stdout" == *"ERROR"* ]]; then
            echo $test_server_stdout
            exit 1
          fi

          test_against=$(echo $test_server_stdout | grep -o "TEST_AGAINST=.*;" | awk -F "=" '{print $2}' | awk -F ";" '{print $1}')
          echo "TEST_AGAINST=$test_against" >> $GITHUB_ENV

          api_endpoint=$(echo $test_server_stdout | grep -o "KILI_API_ENDPOINT=.*;" | awk -F "=" '{print $2}' | awk -F ";" '{print $1}')
          echo "KILI_API_ENDPOINT=$api_endpoint" >> $GITHUB_ENV

      - name: Test the Build
        run: |
          python -m pip install . # to install dependencies
          python -m pip uninstall -y kili
          python -m pip install --find-links=dist --no-index kili
          python -c 'from kili.client import Kili; k=Kili(); print("Everything OK!")'
        env:
          KILI_API_ENDPOINT: ${{ env.KILI_API_ENDPOINT }}
          KILI_API_KEY: ${{ secrets[format('KILI_USER_API_KEY_{0}', env.TEST_AGAINST)] }}
