name: CI
on: [push]
jobs:
  pylint:
    runs-on: ubuntu-latest
    name: Pylint test
    strategy:
      matrix:
        python-version: ["3.7", "3.11"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"
      - name: Analysing the code with pylint
        run: |
          pylint src/kili
  unittest:
    runs-on: ubuntu-latest
    timeout-minutes: 4
    name: Unit tests
    strategy:
      matrix:
        python-version: ["3.7", "3.11"]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: Unit tests
        run: pytest -ra -sv --ignore tests/test_notebooks.py --ignore tests/integration/*.py --color yes  --code-highlight yes  -vv
        env:
          KILI_API_CLOUD_VISION: ${{ secrets.KILI_API_CLOUD_VISION }}
          KILI_API_ENDPOINT: https://staging.cloud.kili-technology.com/api/label/v2/graphql
          KILI_API_KEY: ${{ secrets.KILI_USER_API_KEY }}
          KILI_USER_EMAIL: ${{ secrets.KILI_USER_EMAIL }}
          KILI_USER_ID: ${{ secrets.KILI_USER_ID }}
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: "yes"
          use-verbose-mode: "yes"
