name: End-to-end Tests
on:
  workflow_dispatch:
  push:
    branches:
      - "release/**"
      - master
  schedule:
    - cron: "0 7,15 * * 1-5" # 8am and 4pm UTC+1 every weekday
jobs:
  recipes:
    name: Recipes test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"

      - name: Set proper test server (prod, preprod, staging).
        shell: bash
        run: |
          test_server_stdout=$(./.github/scripts/get_test_server.sh)
          if [[ "$test_server_stdout" == *"ERROR"* ]]; then
            echo $test_server_stdout"
            exit 1
          fi

          test_against=$(echo $test_server_stdout | grep "TEST_AGAINST=" | cut -d '=' -f2)
          echo "test_against: $test_against"
          echo "TEST_AGAINST=$test_against" >> $GITHUB_ENV

          api_endpoint=$(echo $test_server_stdout | grep "KILI_API_ENDPOINT=" | cut -d '=' -f2)
          echo "api_endpoint: $api_endpoint"
          echo "KILI_API_ENDPOINT=$api_endpoint" >> $GITHUB_ENV

      - name: Integration tests
        timeout-minutes: 10
        run: pytest -ra -sv --color yes --code-highlight yes --durations=15 -vv tests/e2e -k ".py"
        env:
          KILI_API_CLOUD_VISION: ${{ secrets.KILI_API_CLOUD_VISION }}
          KILI_API_ENDPOINT: ${{ env.KILI_API_ENDPOINT }}
          KILI_API_KEY: ${{ secrets[format('KILI_USER_API_KEY_{0}', env.TEST_AGAINST)] }}
          KILI_USER_EMAIL: ${{ secrets[format('KILI_USER_EMAIL_{0}', env.TEST_AGAINST)] }}
          KILI_USER_ID: ${{ secrets[format('KILI_USER_ID_{0}', env.TEST_AGAINST)] }}

      - name: Notebook tests
        if: github.event_name != 'push' || github.ref_name != 'master' # does not run for push on master
        timeout-minutes: 15
        run: pytest -ra -sv --color yes --code-highlight yes --durations=15 -vv tests/test_notebooks.py
        env:
          KILI_API_CLOUD_VISION: ${{ secrets.KILI_API_CLOUD_VISION }}
          KILI_API_ENDPOINT: ${{ env.KILI_API_ENDPOINT }}
          KILI_API_KEY: ${{ secrets[format('KILI_USER_API_KEY_{0}', env.TEST_AGAINST)] }}
          KILI_USER_EMAIL: ${{ secrets[format('KILI_USER_EMAIL_{0}', env.TEST_AGAINST)] }}
          KILI_USER_ID: ${{ secrets[format('KILI_USER_ID_{0}', env.TEST_AGAINST)] }}

      - name: Slack notification if failure
        if: failure() && (github.event_name != 'workflow_dispatch') # doesn't notify for manual runs
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
              "text": "End-to-end tests result: ${{ job.status }}\n${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "End-to-end tests result: ${{ job.status }}\n${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_PYTHON_SDK_ALARMING }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
