# several test modes:
# - ALL: run all modes below (only useful for manual trigger)
# - MASTER_STAGING: master branch against staging
# - RELEASE_PREPROD: latest release branch against preprod
# - MASTER_LTS: master branch against LTS
# - PREV_RELEASE_TESTS_STAGING: SDK from master, previous release tests against staging
# - LTS_CYCLE_FIRST_SDK: test with first SDK of LTS cycle, against staging

name: E2E tests
on:
  workflow_dispatch:
    inputs:
      runE2ETests:
        description: "Run E2E tests?"
        required: true
        type: boolean
        default: true
      runNotebookTests:
        description: "Run notebook tests?"
        required: true
        type: boolean
        default: true
      testMode:
        description: "Test mode: ALL (run all modes), MASTER_STAGING (master branch against staging), RELEASE_PREPROD (latest release branch against preprod), MASTER_LTS (master branch against LTS), PREV_RELEASE_TESTS_STAGING (SDK from master, previous release tests against staging), LTS_CYCLE_FIRST_SDK (test with first SDK of LTS cycle, against staging)"
        required: true
        type: choice
        default: "MASTER_STAGING"
        options:
          - ALL
          - MASTER_STAGING
          - RELEASE_PREPROD
          - MASTER_LTS
          - PREV_RELEASE_TESTS_STAGING
          - LTS_CYCLE_FIRST_SDK
  push:
    branches:
      - "release/**"
      - master
  schedule:
    - cron: "0 7,15 * * 1-5" # MASTER_STAGING
    - cron: "0 10 * * 1-5" # MASTER_LTS
    - cron: "0 12 * * 1-5" # PREV_RELEASE_TESTS_STAGING
    - cron: "0 14 * * 1-5" # LTS_CYCLE_FIRST_SDK

jobs:
  test_setup:
    name: E2E tests setup
    runs-on: ubuntu-latest
    outputs:
      test_mode_array: ${{ steps.setup_step.outputs.TEST_MODE_ARRAY }}
    steps:
      - name: Setup test mode
        id: setup_step
        shell: bash
        run: |
          if [[ "${{ github.event_name }}" == "push" ]]; then

            if [[ "${{ github.ref_name }}" == release/* ]]; then
              echo "TEST_MODE_ARRAY='[\"RELEASE_PREPROD\"]'" >> "$GITHUB_OUTPUT"
            else
              echo "TEST_MODE_ARRAY='[\"MASTER_STAGING\"]'" >> "$GITHUB_OUTPUT"
            fi

          elif [[ "${{ github.event_name }}" == "schedule" ]]; then

            if [[ "${{ github.event.schedule }}" == "0 7,15 * * 1-5" ]]; then
              echo "TEST_MODE_ARRAY='[\"MASTER_STAGING\"]'" >> "$GITHUB_OUTPUT"

            elif [[ "${{ github.event.schedule }}" == "0 10 * * 1-5" ]]; then
              echo "TEST_MODE_ARRAY='[\"MASTER_LTS\"]'" >> "$GITHUB_OUTPUT"

            elif [[ "${{ github.event.schedule }}" == "0 12 * * 1-5" ]]; then
              echo "TEST_MODE_ARRAY='[\"PREV_RELEASE_TESTS_STAGING\"]'" >> "$GITHUB_OUTPUT"

            elif [[ "${{ github.event.schedule }}" == "0 14 * * 1-5" ]]; then
              echo "TEST_MODE_ARRAY='[\"LTS_CYCLE_FIRST_SDK\"]'" >> "$GITHUB_OUTPUT"

            fi

          elif [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then

            if [[ "${{ github.event.inputs.testMode }}" == "ALL" ]]; then
              echo "TEST_MODE_ARRAY='[\"\MASTER_STAGING\", \"RELEASE_PREPROD\", \"MASTER_LTS\", \"PREV_RELEASE_TESTS_STAGING\", \"LTS_CYCLE_FIRST_SDK\"]'" >> "$GITHUB_OUTPUT"
            else
              echo "TEST_MODE_ARRAY='[\"${{ github.event.inputs.testMode }}\"]'" >> "$GITHUB_OUTPUT"
            fi

          fi

  tests:
    name: E2E tests
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        test_mode: ${{ fromJson(needs.test_setup.outputs.test_mode_array) }}
    runs-on: ${{ matrix.os }}
    needs: [test_setup]
    steps:
      - name: Get test mode from previous job
        shell: bash
        run: echo "TEST_MODE=${{ matrix.test_mode }}" >> $GITHUB_ENV

      - name: Check that test mode is valid
        shell: bash
        run: |
          if [[ ${{ env.TEST_MODE }} != "MASTER_STAGING" ]] && \
             [[ ${{ env.TEST_MODE }} != "RELEASE_PREPROD" ]] && \
             [[ ${{ env.TEST_MODE }} != "MASTER_LTS" ]] && \
             [[ ${{ env.TEST_MODE }} != "PREV_RELEASE_TESTS_STAGING" ]] && \
             [[ ${{ env.TEST_MODE }} != "LTS_CYCLE_FIRST_SDK" ]]; then
            echo "TEST_MODE is not valid: ${{ env.TEST_MODE }}"
            exit 1
          fi

      - name: Set first SDK version of LTS cycle
        if: env.TEST_MODE == 'LTS_CYCLE_FIRST_SDK'
        shell: bash
        run: echo "LTS_CYCLE_FIRST_SDK_VERSION=2.129.3" >> $GITHUB_ENV # this should be updated when a new LTS cycle starts

      - name: Get latest release branch
        shell: bash
        run: |
          last_version=$(curl --silent "https://api.github.com/repos/kili-technology/kili-python-sdk/releases/latest" | jq -r .tag_name)
          echo "Last version: $last_version"
          IFS=. read -r major minor patch <<< "$last_version"
          last_minor_version="$major.$minor.0"
          echo "LASTEST_RELEASE_BRANCH=release/$last_minor_version" >> $GITHUB_ENV

      - name: Set checkout branch/tag
        shell: bash
        run: |
          if [[ "${{ env.TEST_MODE }}" == "MASTER_STAGING" ]]; then
            echo "REF=master" >> $GITHUB_ENV
            echo "TEST_AGAINST=STAGING" >> $GITHUB_ENV
            echo "KILI_API_ENDPOINT=https://staging.cloud.kili-technology.com/api/label/v2/graphql" >> $GITHUB_ENV

          elif [[ "${{ env.TEST_MODE }}" == "RELEASE_PREPROD" ]]; then
            echo "REF=${{ env.LASTEST_RELEASE_BRANCH }}" >> $GITHUB_ENV
            echo "TEST_AGAINST=PREPROD" >> $GITHUB_ENV
            echo "KILI_API_ENDPOINT=https://preproduction.cloud.kili-technology.com/api/label/v2/graphql" >> $GITHUB_ENV

          elif [[ "${{ env.TEST_MODE }}" == "MASTER_LTS" ]]; then
            echo "REF=master" >> $GITHUB_ENV
            echo "TEST_AGAINST=LTS" >> $GITHUB_ENV
            echo "KILI_API_ENDPOINT=https://lts.cloud.kili-technology.com/api/label/v2/graphql" >> $GITHUB_ENV

          elif [[ "${{ env.TEST_MODE }}" == "PREV_RELEASE_TESTS_STAGING" ]]; then
            echo "REF=${{ env.LASTEST_RELEASE_BRANCH }}" >> $GITHUB_ENV
            echo "TEST_AGAINST=STAGING" >> $GITHUB_ENV
            echo "KILI_API_ENDPOINT=https://staging.cloud.kili-technology.com/api/label/v2/graphql" >> $GITHUB_ENV

          elif [[ "${{ env.TEST_MODE }}" == "LTS_CYCLE_FIRST_SDK" ]]; then
            echo "REF=${{ env.LTS_CYCLE_FIRST_SDK_VERSION }}" >> $GITHUB_ENV
            echo "TEST_AGAINST=STAGING" >> $GITHUB_ENV
            echo "KILI_API_ENDPOINT=https://staging.cloud.kili-technology.com/api/label/v2/graphql" >> $GITHUB_ENV

          fi

      - name: Check REF is set
        shell: bash
        run: |
          if [[ -z "${{ env.REF }}" ]]; then
            echo "REF is not set"
            exit 1
          fi

      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: ${{ env.REF }}

      - name: Delete src for PREV_RELEASE_TESTS_STAGING mode
        if: env.TEST_MODE == 'PREV_RELEASE_TESTS_STAGING'
        shell: bash
        run: rm -rf src # we want the previous release tests but the kili from master

      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
          cache: "pip"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install kili
        shell: bash
        run: |
          if [[ "${{ env.TEST_MODE }}" == "PREV_RELEASE_TESTS_STAGING" ]]; then
            pip install "kili[dev] @ git+https://github.com/kili-technology/kili-python-sdk.git@master"
          else
            pip install -e ".[dev]"
          fi

      - name: Get kili SDK version
        shell: bash
        run: echo "KILI_SDK_VERSION=$(python -c "from kili import __version__; print(__version__)")" >> $GITHUB_ENV

      - name: E2E tests
        if: github.event.inputs.runE2ETests != 'false'
        timeout-minutes: 10
        run: pytest -ra -sv --color yes --code-highlight yes --durations=15 -vv tests/e2e -k ".py"
        env:
          KILI_API_CLOUD_VISION: ${{ secrets.KILI_API_CLOUD_VISION }}
          KILI_API_ENDPOINT: ${{ env.KILI_API_ENDPOINT }}
          KILI_API_KEY: ${{ secrets[format('KILI_USER_API_KEY_{0}', env.TEST_AGAINST)] }}
          KILI_USER_EMAIL: ${{ secrets[format('KILI_USER_EMAIL_{0}', env.TEST_AGAINST)] }}
          KILI_USER_ID: ${{ secrets[format('KILI_USER_ID_{0}', env.TEST_AGAINST)] }}

      - name: Notebook tests
        if: github.event.inputs.runNotebookTests != 'false' && (github.event_name != 'push' || github.ref_name != 'master') # Do not run notebook tests after merging to master
        timeout-minutes: 18
        run: pytest -ra -sv --color yes --code-highlight yes --durations=15 -vv tests/test_notebooks.py
        env:
          KILI_API_CLOUD_VISION: ${{ secrets.KILI_API_CLOUD_VISION }}
          KILI_API_ENDPOINT: ${{ env.KILI_API_ENDPOINT }}
          KILI_API_KEY: ${{ secrets[format('KILI_USER_API_KEY_{0}', env.TEST_AGAINST)] }}
          KILI_USER_EMAIL: ${{ secrets[format('KILI_USER_EMAIL_{0}', env.TEST_AGAINST)] }}
          KILI_USER_ID: ${{ secrets[format('KILI_USER_ID_{0}', env.TEST_AGAINST)] }}

      - name: Check that kili SDK version has not changed
        shell: bash
        run: |
          kili_sdk_version=$(python -c "from kili import __version__; print(__version__)")
          if [[ "${{ env.KILI_SDK_VERSION }}" != "$kili_sdk_version" ]]; then
            echo "Kili has been updated (maybe by notebooks)."
            echo "The version should not be updated during tests."
            echo "version before: ${{ env.KILI_SDK_VERSION }}"
            echo "version after: $kili_sdk_version"
            exit 1
          fi

      - name: Slack notification if failure
        if: failure() && (github.event_name != 'workflow_dispatch') # doesn't notify for manual runs
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
              "text": "E2E tests '${{ env.TEST_MODE }}' (${{ env.REF }} against ${{ env.TEST_AGAINST }}) failed with status '${{ job.status }}'\n${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "E2E tests '${{ env.TEST_MODE }}' (branch '${{ env.REF }}' against endpoint '${{ env.TEST_AGAINST }}') failed with status '${{ job.status }}'\n${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_PYTHON_SDK_ALARMING }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
