name: Pre-release - Bump version & Draft Release
on:
  workflow_dispatch:
    inputs:
      target_branch:
        description: >
          "This workflow will create a commit to bump version on a branch.
          Enter the target branch: main for Saas, or release/XX.Y for a LTS version: "
        required: true
        type: string
        default: "main"

jobs:
  create_bump_commit:
    runs-on: ubuntu-latest
    name: create bump commit PR
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.target_branch}}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install bump2version

      - name: Set git identity
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Add the bump commit
        run: |
          git fetch --quiet

          curl https://raw.githubusercontent.com/kili-technology/kili-python-sdk/main/.github/scripts/utils.sh --output utils.sh
          source ./utils.sh   # to get the bump_version function

          # create bump commit
          new_version=$(bump_version commit patch)
          echo "New version (bump_version): $new_version"

          git push
        env:
          GH_TOKEN: ${{ github.token }} # needed for gh cli

      - name: create draft release
        run: |
          curl https://raw.githubusercontent.com/kili-technology/kili-python-sdk/main/.github/scripts/utils.sh --output utils.sh
          source ./utils.sh   # to get the bump_version function

          # Get release version
          release_version=$(get_sdk_version_from_pyproject_toml)
          echo "Release version: $release_version"

          # tag and push the tag
          # -f to overwrite the tag if it already exists
          # -a to create an annotated tag
          git fetch --quiet
          git tag -f -a $release_version -m "Release $release_version"
          git push origin $release_version

          # create draft release
          link_to_draft=$(gh release create $release_version --draft --title "Release $release_version" --generate-notes --notes-start-tag $latest_release)
          echo "Link to draft release: $link_to_draft"

          # filter the result to get the link
          # will match any string that starts with https:// and contains any number of characters that are not spaces.
          link_to_draft=$(echo "$link_to_draft" | grep -o 'https://[^ ]*')
          echo "Link to draft release: $link_to_draft"

          echo "LINK_TO_DRAFT=$link_to_draft" >> $GITHUB_ENV
          echo "RELEASE_VERSION=$release_version" >> $GITHUB_ENV
        env:
          GH_TOKEN: ${{ github.token }} # needed for gh cli
