name: Release
on:
  release:
    types: [prereleased]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools twine wheel
          pip install -r requirements_dev.txt

      - name: Deploy technical documentation
        env:
          GIT_COMMITTER_NAME: ci-bot
          GIT_COMMITTER_EMAIL: ci-bot@example.com
        run: |
          export version=$(python -c 'from kili import __version__; print(".".join(__version__.split(".")[:3]))')
          git fetch origin gh-pages --depth=1
          mike deploy --push --update-aliases $version latest

      # - name: Build
      #   run: |
      #     python setup.py sdist bdist_wheel

      # - name: Publish
      #   env:
      #     TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
      #     TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      #   run: |
      #     python -m twine upload --repository-url https://test.pypi.org/legacy/ dist/*
      #     python -m twine upload dist/*
