name: Create release branch
on:
  workflow_dispatch:
    inputs:
      warn_user_no_patch:
        description: "Do not create a release branch for a patch release! Use the 'Create draft release patch' workflow instead on the latest minor branch."
        required: false

jobs:
  create_release_branch:
    runs-on: ubuntu-latest
    name: create release branch

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install bump2version
      - name: Install kili
        run: pip install -e .
      - name: Set git identity
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
      - name: Bump version
        run: bash -c "./entrypoint.sh release:branch minor"
