name: Release minor
on:
  workflow_dispatch:

jobs:
  create_release_branch:
    runs-on: ubuntu-latest
    name: create release branch

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
          cache: "pip"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install bump2version
      - name: Bump version
        run: |
          bash entrypoint.sh release:branch minor
